.nav {
	width: 100wh;
	height: 90vh;
	color: #fff;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

.nav2{
  color: #fff;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

.cart-button{
  color: #fff;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

.main-content{
    display: grid;
    grid-template-columns: 3fr 7fr
}

#list-panel {
  /* height:80vh; */
  /* border-right-style:solid;
  border-color:black; */
  overflow:hidden;
}

.show-panel{
  border-left-style:solid;
  border-color: #23d5ad;
}

.show-box{
  /* border-style:solid;
  border-color:blue; */
}

.show-box div .details{
  margin-left: 200px;
}

.show-box img{
  float:left;
}

/* Buttton Stuff */
*, :after, :before {
  box-sizing: border-box;
}

:focus {
  outline: none;
}
button {
  overflow: visible;
  border: 0;
  padding: 0;
  margin: 1.8rem;
}
.btn.striped-shadow span {
  display: block;
  position: relative;
  z-index: 2;
  border: 5px solid;
}
.btn.striped-shadow.white span {
  border-color: #fff;
  color: #fff;
  background: #77bfa1;
}

.btn.striped-shadow.blue span {
  border-color: #4183D7;
  background: #77bfa1;
  color: #4183D7;
}
.btn.striped-shadow.dark span {
  border-color: #393939;
  background: #77bfa1;
  color: #393939;
}

.btn {
  font-family: 'Bungee Shade', sans-serif;
  height: 80px;
  line-height: 65px;
  display: inline-block;
  letter-spacing: 1px;
  position: relative;
  font-size: 1.35rem;
  transition: opacity .3s, z-index .3s step-end, -webkit-transform .3s;
  transition: opacity .3s, z-index .3s step-end, transform .3s;
  transition: opacity .3s,
    z-index .3s step-end,
    transform .3s,
    -webkit-transform .3s;
  z-index: 1;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  width: 155px;
  height: 48px;
  line-height: 38px;
}

button.btn.striped-shadow.white:after, button.btn.striped-shadow.white:before {
  background-image: linear-gradient(
    135deg,
    transparent 0,
    transparent 5px,
    #fff 5px,
    #fff 10px,
    transparent 10px
  );
}

button.btn.striped-shadow.blue:after, button.btn.striped-shadow.blue:before {
  background-image: linear-gradient(
    135deg,
    transparent 0,
    transparent 5px,
    #4183D7 5px,
    #4183D7 10px,
    transparent 10px
  );
}

button.btn.striped-shadow.dark:after, button.btn.striped-shadow.dark:before {
  background-image: linear-gradient(
    135deg,
    transparent 0,
    transparent 5px,
    #393939 5px,
    #393939 10px,
    transparent 10px
  );
}

button.btn.striped-shadow:hover:before {
  max-height: calc(100% - 10px);
}

button.btn.striped-shadow:after {
  width: calc(100% - 4px);
  height: 8px;
  left: -10px;
  bottom: -9px;
  background-size: 15px 8px;
  background-repeat: repeat-x;
}
button.btn.striped-shadow:after, button.btn.striped-shadow:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  transition: max-height .3s, width .3s, -webkit-transform .3s;
  transition: transform .3s, max-height .3s, width .3s;
  transition: transform .3s, max-height .3s, width .3s, -webkit-transform .3s;
}

.btn.striped-shadow:hover {
  -webkit-transform: translate(-12px, 12px);
  -ms-transform: translate(-12px, 12px);
  transform: translate(-12px, 12px);
  z-index: 3;
}

button.btn.striped-shadow:hover:after, button.btn.striped-shadow:hover:before {
  -webkit-transform: translate(12px, -12px);
  -ms-transform: translate(12px, -12px);
  transform: translate(12px, -12px);
}
button.btn.striped-shadow:before {
  width: 8px;
  max-height: calc(100% - 5px);
  height: 100%;
  left: -12px;
  bottom: -5px;
  background-size: 8px 15px;
  background-repeat: repeat-y;
  background-position: 0 100%;
}


/* End of button stuff */


@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

img {

}

* {
	margin: 0px;
	padding: 0px;
	font-family:sans-serif;
  }
  
  #sidebar{
	position: absolute;;
	width:200px;
	height:66%;
	background-color:#151719;
	left:-200px;
  transition:all 500ms linear;
  }
  #sidebar.active{
	left:0px;
  }
  #sidebar ul li{
	color:rgba(230,230,230,0.9);
	list-style:none;
	padding:15px 10px;
	border-bottom:1px solid rgba(100,100,100,0.3);
  }
  #sidebar .toggle-btn{
	position:absolute;
	left:230px;
	top:20px;
  }
  #sidebar .toggle-btn span{
	display:block;
	width:30px;
	height:5px;
	background: #151719;
	margin:5px 0px;
  }

  .card {
	width: 97%;
	height: 97%;
	position: relative;
  }
#purchase-form{
  width:35%;
}

/* TEST CART CSS */
/* ------------------------ */
.mobile{
  display:none;
}
.button{
  display:block;
  background:#a9e200;
  text-decoration:none;
  color:#FFF;
  padding:5px;
  text-align:center;  
}
#wrap{
  width:90%;
  margin:0 auto;
  /* margin-bottom:25px; */
}
.center{
  height:10%;
  position:absolute;
  top:0;bottom:0;left:0;right:0;
  margin:auto;
  text-align:center;
}
.cart_details{
  width:100%;
  float:left;
  border-top:2px solid #aaa;
  border-bottom:2px solid #aaa;
  margin-bottom: 7%;
  position:relative;
  min-height:270px;
  max-height:300px;
}
.item{
  width:30%;
  float:left;
}
.product_image img{
  max-height:200px;
}
.product_details{
  display:block;
  margin:0 auto;
  width:80%;
  margin-bottom:1em;
}
.product_details span{
  margin-right:10px;
}
.cart_details h3{
  border-bottom:2px solid #aaa;
  padding-left:10px;
}
.price{
  width:15%;
  float:left;
  margin-left:5%;
  position:relative;
  height:270px;
}
.qty{
  width:15%;
  float:left;
  margin-left:5%;
  position:relative;
  height:270px;
}
.qty input{
  width:40px;
  height:30px;
  border:1px solid #ccc;
  display:block;
  margin:0 auto;
  border-radius:4px;
}
.total{
  width:15%;
  float:left;
  margin-left:5%;
  position:relative;
  height:270px;
}
.remove{
  width:10%;
  float:left;
  text-align:center;
  position:relative;
  height:270px;
  color:crimson;
}
.remove h3{
  display:none;
}
.remove i{
  width:20px;
  height:20px;
  transition:all 0.5s ease;
}
.remove i:hover{
  font-size:30px;
}

.complete_cart{
  width:100%;
  float:left;
}
.update{
  width:50%;
  float:left;
  margin-right:5%;
}
.update .coupon{
  width:100%;
  float:left;
  border-bottom:1px solid #ccc;
}
.update .coupon h2{
  width:35%;
  float:left;
  font-size:18px;
}
.update .coupon input{
  width:28%;
  margin-left:2%;
  float:left;
  margin-top:10px;
  border:1px solid #ccc;
  border-radius:3px;
  height:30px;
}
.shipping{
  width:100%;
  float:left;
}
.update .coupon .button{
  width:28%;
  margin-left:2%;
  float:left;
  display:inline-block;
  margin-top:10px;
  border-radius:3px;
}
.shipping h3{
  font-size:18px;
}
.shipping .state{
  width: 50%;
  box-sizing:border-box;
  float:left;
  height: 35px;
  overflow: hidden;
  background: url('https://i.imgur.com/10e9Roz.png') no-repeat right #FFF;
  border: 1px solid #ccc;
  border-radius:3px;
  display:inline-block;
}
.shipping .state select{
  background: transparent;
  display:block;
  padding: 5px;
  box-siaizing:border-box;
  line-height: 1;
  border: 0;
  border-radius:0;
  height: 35px;
  -webkit-appearance: none;
}
.shipping .zip{
  width:45%;
  float:left;
  margin-left:5%;
  border:1px solid #ccc;
  border-radius:3px;
  height:35px;
  box-sizing:border-box;
}
.shipping .est_btn{
  width:100%;
  float:left;
  margin-top:15px;
}
.shipping .button{
  display:block;
  width:50%;
  margin:0 auto;
}
.checkout{
  width:45%;
  float:left;
}
.subtotal h2{
  width:50%;
  float:left;
  margin-top:0px;
}
.subtotal .finalprice{
  width:40%;
  float:left;
  font-size:20px;
  margin-top:0px;
}
.subtotal .refresh{
  width:10%;
  float:left;
}
.subtotal .refresh i{
  margin-top:5px;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
     
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  overflow:hidden;
}
.subtotal .refresh:hover i{
 -webkit-transform:rotate(720deg);
 -moz-transform:rotate(7200deg);
 -o-transform:rotate(720deg);
 transform:rotate(720deg);
}
.complete{
  width:100%;
  float:left;
  font-size:30px;
  margin-top:20px;
}
@media (max-width:600px){
  .center{
  position:initial;
  margin:auto;
  text-align:center;
}
.cart_details{
  position:initial;
  min-height:100px;
  float:none;
  border-bottom:0;
}
.item{
  width:100%;
  float:left;
  maz-height:200px;
  border-bottom:1px solid #ccc;
}
.item img{
  display:block;
  margin:0 auto;
  max-width:90%;
}
.product_details{
  width:60%;
  margin-bottom:1em;
}
.product_details span{
  margin-right:10px;
}
.cart_details h3{
  border-bottom:2px solid #aaa;
  padding-left:10px;
}
.price{
  width:30%;
  float:left;
  margin-left:0;
  position:initial;
  height:auto;
}
.qty{
  width:30%;
  float:left;
  margin-left:5%;
  position:initial;
  height:auto;
}
.total{
  width:30%;
  height:auto;
  margin-left:5%;
  position:initial;
}
.remove{
  margin-top:10px;
  border-top:1px solid #ccc;
  width:100%;
  height:auto;
  padding-top:5px;
  border-bottom:5px solid #ccc;
}
.remove h3{
  display:block;
  border:0;
  float:left;
  margin-top:0;
  color:#000;
}
.remove i{
  float:right;
  font-size:20px;
  margin-right:10%;
}
.complete_cart{
  width:100%;
  float:left;
}
.update{
  width:100%;
  float:none;
  display:none;
  margin-right:0%;
}
.mobile{
  display:block;
}
.update .coupon{
  width:100%;
  float:left;
  border-bottom:1px solid #ccc;
  padding-bottom:15px;
  padding-top:15px;
  border-top:1px solid #ccc;
  margin-top:20px;
}
.update .coupon h2{
  width:50%;
  float:left;
  font-size:18px;
}
.update .coupon input{
  width:48%;
  margin-left:1%;
  float:left;
  margin-top:10px;
  border:1px solid #ccc;
  border-radius:3px;
  height:30px;
}
.shipping{
  width:100%;
  float:left;
}
.update .coupon .button{
  width:100%;
  margin-left:0;
}
.checkout{
  width:100%;
  float:left;
}
.subtotal h2{
  width:50%;
}
.subtotal .finalprice{
  width:50%;
  float:right;
  text-align:right;
}
.subtotal .refresh{
  display:none;
}
.complete{
  width:100%;
  float:left;
  font-size:30px;
  margin-top:20px;
}
  
}
